/* Estilos para dispositivos de tela grande */
body {
  background-image: url(imagens/back11.jpg);
  color: rgb(223, 171, 128);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}

.fisio-services,
.nutrition-services,
.rede,
.ctt {
  width: 45%;
  float: left;
  margin: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(82, 67, 81);
  transition: 0.5s;
}

/* Estilos para dispositivos móveis */
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      text-align: center;
  }

  #title {
      line-height: 1.2;
  }

  ul li {
      display: block;
      margin: 10px 0;
  }

  main {
      flex-direction: column;
      align-items: center;
      margin-top: 20px;
  }

  .fisio-services,
  .nutrition-services,
  .rede,
  .ctt {
      width: 100%;
      float: none;
  }
}
